// All elements on page 

@mixin transition()
	-webkit-transition: all 0.8s ease
	-moz-transition: all 0.8s ease
	-o-transition: all 0.8s ease
	-ms-transition: all 0.8s ease
	transition: all 0.8s ease
@mixin img()
	background-position: center
	background-repeat: no-repeat
	background-size: cover
@mixin title($color)
	text-align: center
	color: $color
	padding-bottom: 30px
@mixin big-card($color)
	height: 320px
	float: left
	overflow: hidden
	color: $color
	border-radius: 5px
	text-align: center
	@media screen and(max-width: 576px)
		margin-bottom: 20px
@mixin small-card($color)
	height: 150px
	width: 30%
	margin-bottom: 20px
	border-radius: 5px	
	text-align: center
	color: $color
	@media screen and(max-width: 766px)
		width: 45%
	@media screen and(max-width: 576px)
		width: 100%
@mixin btn-join($color1,$color2)
	padding: 14px 38px
	color: $color1
	background-image: $color2
	outline: none
	user-select: none
	border: none
	border-radius: 5px
	border: 2px solid $color2
	&:hover
		color: $color2
		background-color: $color1
		+transition
@mixin input($color)
	width: 45%
	margin-bottom: 10px
	padding: 10px 20px
	color: $color
	border: none
	outline: none
	user-select: none
	margin-right: 4.4%
	border-radius: 5px
	box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
	@media screen and(max-width: 768px)
		width: 95%
@mixin lazy-card-one($color)
	background-color: $color
	z-index: 1
	height: 200px
	padding: 90px 0
	border-radius: 5px
	box-shadow: 0 10px 100px 0px rgba(46, 61, 73, 0.2)
	text-align: center
@mixin lazy-card($color)
	position: absolute
	top: 30px
	right: 20px
	width: 300px
	+lazy-card-one($color)

@mixin lazy-layer-pink()
	position: absolute
	top: 10px
	right: 0
	background-image: linear-gradient(to right, #a951ed, #ff5483)
	width: 300px
	color: #fff
	z-index: -1
	height: 200px
	border-radius: 5px

@mixin typing-letters($color)
	color: $color
	white-space: nowrap
	overflow: hidden
	width: 100%
	animation: type 6s steps(60, end)
	.blink
		animation: blink 1s infinite

	@keyframes type
		from 
			width: 0  

	@keyframes blink
		to
			opacity: .0

@mixin repeat-background($list,$folder)
	@each $number,$meamber in $list
		&:nth-child(#{$number})
			div.img-container
				div.img-fluid
					background-image: url('../../assets/#{$folder}/#{$meamber}')

@mixin team-image($list,$folder)
	text-align: center
	margin-bottom: 30px
	.img-container
		height: 250px
		.img-fluid
			+img
			border-radius: 5px
			width: 200px
			height: 200px
			margin: auto
	h5
		font-weight: 600
		margin-bottom: 0
		font-size: 120%
		color: $lazy-black
	span
		color: $lazy-black
		font-size: 120%

	+repeat-background($list,$folder)
	a
		display: none 
		i
			font-size: 25px 
			border: 1px solid $lazy-black
			border-radius: 5px
			color: $lazy-black
			width: 35px
			height: 35px
			padding: 10px
			&:hover
				color: $lazy-white
				background-color: $lazy-black
				+transition
	&:hover
		.img-container
			.img-fluid
				width: 210px
				height: 210px
				opacity: 0.5
				+transition
		a
			display: block
			position: absolute
			top: 100px
			left: 0
			width: 100%
			text-align: center
			i
				width: 45px
				height: 45px
.icon
	text-decoration: none
	color: $lazy-pink
	-webkit-animation: pulse 1s ease-in
	-moz-animation: pulse 1s ease-in
	animation: pulse 1s ease-in
	-webkit-animation-iteration-count: infinite
	-moz-animation-iteration-count: infinite
	animation-iteration-count: infinite
	&:hover
		animation: none
@keyframes pulse 
	0% 
		-webkit-transform: scale(1)
		opacity: 0.0 
	25% 
		-webkit-transform: scale(1.25)
		opacity: 0.1 
	50% 
		-webkit-transform: scale(1.5)
		opacity: 0.3
	75%
		-webkit-transform: scale(1.75)
		opacity: 0.5
	100% 
		-webkit-transform: scale(2)
		opacity: 0.0