#about
	padding: 0
	div
		div.first
			color: $lazy-white
			background: $lazy-black
			padding: 30px 100px 30px 30px
			+clip-path
			@media screen and(max-width:  768px)
				text-align: center
				padding: 30px
		div.second
			color: $lazy-black
			padding: 30px 100px 30px 30px
			@media screen and(max-width: 768px)
				text-align: center
				padding: 30px