body {
  margin: 0;
  padding: 0; }
  body li {
    list-style: none; }
  body a, body a:hover, body a:visited {
    text-decoration: none; }
  body div.row {
    margin-left: 0;
    margin-right: 0; }
  body section, body header, body footer {
    padding-top: 40px;
    padding-bottom: 40px; }

.icon {
  text-decoration: none;
  color: #ff5483;
  -webkit-animation: pulse 1s ease-in;
  -moz-animation: pulse 1s ease-in;
  animation: pulse 1s ease-in;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

@keyframes pulse {
  0% {
    -webkit-transform: scale(1); }
  100% {
    -webkit-transform: scale(1.15); } }
@media screen and (min-width: 768px) {
  header nav .navbar-toggler {
    display: none; } }
@media screen and (min-width: 768px) {
  header nav .collapse {
    display: block; } }
@media screen and (min-width: 768px) {
  header nav .collapse ul {
    flex-direction: row; } }
header nav .collapse ul li {
  padding: 10px; }

#intro {
  background-image: linear-gradient(to right, #a951ed, #ff5483); }
  #intro div .message {
    padding: 120px 0;
    -ms-flex-item-align: center; }
    #intro div .message h3 {
      color: #fff;
      white-space: nowrap;
      overflow: hidden;
      width: 100%;
      animation: type 3s steps(100, end); }
      #intro div .message h3 .blink {
        animation: blink 1s infinite; }
@keyframes type {
  from {
    width: 0; } }
@keyframes blink {
  to {
    opacity: 0; } }
#tech div h2 {
  text-align: center;
  color: #242424;
  padding-bottom: 30px; }

#about {
  padding: 0; }
  #about div div.first {
    color: #fff;
    background: #242424;
    padding: 30px 100px 30px 30px;
    -webkit-clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%); }
    @media screen and (max-width: 768px) {
      #about div div.first {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          -webkit-clip-path-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); } }
    @media screen and (max-width: 768px) {
      #about div div.first {
        text-align: center;
        padding: 30px; } }
  #about div div.second {
    color: #242424;
    padding: 30px 100px 30px 30px; }
    @media screen and (max-width: 768px) {
      #about div div.second {
        text-align: center;
        padding: 30px; } }

#projects {
  background: #242424; }
  #projects div h2 {
    text-align: center;
    color: #fff;
    padding-bottom: 30px; }
  #projects div ul {
    padding: 0;
    margin: auto; }
    #projects div ul li {
      display: inline-block;
      background: #fff;
      margin: 0 1%; }
    #projects div ul li.project-one {
      height: 320px;
      float: left;
      overflow: hidden;
      color: #242424;
      border-radius: 5px;
      text-align: center; }
      @media screen and (max-width: 576px) {
        #projects div ul li.project-one {
          margin-bottom: 20px; } }
      #projects div ul li.project-one h3 {
        margin-top: 110px; }
    #projects div ul li.project-two {
      height: 150px;
      width: 30%;
      margin-bottom: 20px;
      border-radius: 5px;
      text-align: center;
      color: #242424; }
      @media screen and (max-width: 766px) {
        #projects div ul li.project-two {
          width: 45%; } }
      @media screen and (max-width: 576px) {
        #projects div ul li.project-two {
          width: 100%; } }
      #projects div ul li.project-two h3 {
        margin-top: 40px; }

#license-and-vendors div h2 {
  text-align: center;
  color: #242424;
  padding-bottom: 30px; }
#license-and-vendors div p {
  text-align: center;
  padding: 0 40px 20px 40px; }
#license-and-vendors div .in-love {
  position: relative; }
  #license-and-vendors div .in-love .lazy-card {
    position: absolute;
    top: 30px;
    right: 20px;
    width: 300px;
    background-color: #fff;
    z-index: 1;
    height: 200px;
    padding: 90px 0;
    border-radius: 5px;
    box-shadow: 0 10px 100px 0px rgba(46, 61, 73, 0.2);
    text-align: center; }
    #license-and-vendors div .in-love .lazy-card h4 {
      color: #242424; }
  #license-and-vendors div .in-love .layer {
    position: absolute;
    top: 10px;
    right: 0;
    background-image: linear-gradient(to right, #a951ed, #ff5483);
    width: 300px;
    color: #fff;
    z-index: -1;
    height: 200px;
    border-radius: 5px; }
#license-and-vendors div .simple-card {
  margin-bottom: 20px;
  background-color: #fff;
  z-index: 1;
  height: 200px;
  padding: 90px 0;
  border-radius: 5px;
  box-shadow: 0 10px 100px 0px rgba(46, 61, 73, 0.2);
  text-align: center; }

#team div h2 {
  text-align: center;
  color: #242424;
  padding-bottom: 30px; }
#team div .meamber {
  text-align: center;
  margin-bottom: 30px; }
  #team div .meamber .img-container {
    padding: 30px; }
    #team div .meamber .img-container .img-fluid {
      border-radius: 5px;
      margin: auto; }
  #team div .meamber h5 {
    font-weight: 600;
    margin-bottom: 0;
    font-size: 120%;
    color: #242424; }
  #team div .meamber span {
    color: #242424;
    font-size: 120%; }
  #team div .meamber a {
    display: none; }
    #team div .meamber a i {
      font-size: 25px;
      border: 1px solid #242424;
      border-radius: 5px;
      color: #242424;
      width: 35px;
      height: 35px;
      padding: 10px; }
      #team div .meamber a i:hover {
        color: #fff;
        background-color: #242424;
        -webkit-transition: all 0.8s ease;
        -moz-transition: all 0.8s ease;
        -o-transition: all 0.8s ease;
        -ms-transition: all 0.8s ease;
        transition: all 0.8s ease; }
  #team div .meamber:hover .img-container {
    padding: 20px;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
    transition: all 0.8s ease; }
    #team div .meamber:hover .img-container .img-fluid {
      opacity: 0.5;
      -webkit-transition: all 0.8s ease;
      -moz-transition: all 0.8s ease;
      -o-transition: all 0.8s ease;
      -ms-transition: all 0.8s ease;
      transition: all 0.8s ease; }
  #team div .meamber:hover a {
    display: block;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    text-align: center; }
    #team div .meamber:hover a i {
      width: 45px;
      height: 45px; }

#join-us {
  background-image: linear-gradient(to right, #a951ed, #ff5483); }
  #join-us div h2 {
    text-align: center;
    color: #fff;
    padding-bottom: 30px; }
  #join-us div p {
    text-align: center; }
    #join-us div p button {
      margin-top: 30px;
      padding: 14px 38px;
      color: #ff5483;
      background: #fff;
      outline: none;
      user-select: none;
      border: none;
      border-radius: 5px;
      border: 2px solid transparent; }
      #join-us div p button:hover {
        color: #fff;
        background: transparent;
        border-color: #fff;
        -webkit-transition: all 0.8s ease;
        -moz-transition: all 0.8s ease;
        -o-transition: all 0.8s ease;
        -ms-transition: all 0.8s ease;
        transition: all 0.8s ease; }

/*# sourceMappingURL=index.css.map */
