body {
  margin: 0;
  padding: 0; }
  body li {
    list-style: none; }
  body a, body a:hover, body a:visited {
    text-decoration: none; }
  body div.row {
    margin-left: 0;
    margin-right: 0; }
  body section, body header, body footer {
    padding-top: 40px;
    padding-bottom: 40px; }

header {
  background: #242424; }
  header div nav {
    text-align: right; }
    header div nav ul li {
      display: inline-block;
      text-align: center;
      margin-left: 15px; }
      header div nav ul li a {
        color: #fff; }
        header div nav ul li a:hover {
          color: #fff; }
  header div div.logo {
    text-align: center;
    color: #fff; }

#intro {
  background-image: radial-gradient(circle at bottom left, #07DD85 0%, #05B29E 50%, #025284 100%); }
  #intro div .message {
    padding: 120px; }
    #intro div .message h2 {
      color: #fff;
      white-space: nowrap;
      overflow: hidden;
      width: 30em;
      animation: type 5s steps(60, end); }
      #intro div .message h2 .blink {
        animation: blink 1s infinite; }
@keyframes type {
  from {
    width: 0; } }
@keyframes blink {
  to {
    opacity: 0; } }
#tech div h2 {
  text-align: center;
  color: #242424;
  padding-bottom: 30px; }

#about {
  padding: 0; }
  #about div div.first {
    color: #fff;
    background: #242424;
    padding: 30px 100px 30px 30px;
    -webkit-clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%); }
  #about div div.second {
    color: #242424;
    padding: 30px 100px 30px 30px; }

#projects {
  background: #242424; }
  #projects div h2 {
    text-align: center;
    color: #fff;
    padding-bottom: 30px; }
  #projects div ul li {
    display: inline-block;
    background: #fff;
    margin-left: 20px; }
  #projects div ul li.project-one {
    height: 320px;
    float: left;
    overflow: hidden;
    color: #242424;
    border-radius: 5px;
    text-align: center; }
    #projects div ul li.project-one h3 {
      margin-top: 110px; }
  #projects div ul li.project-two {
    height: 150px;
    width: 30%;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: center;
    color: #242424; }
    #projects div ul li.project-two h3 {
      margin-top: 40px; }

#license-and-vendors div h2 {
  text-align: center;
  color: #242424;
  padding-bottom: 30px; }
#license-and-vendors div p {
  text-align: center;
  padding: 0 40px 20px 40px; }
#license-and-vendors div .in-love {
  position: relative; }
  #license-and-vendors div .in-love .lazy-card {
    position: absolute;
    top: 30px;
    right: 20px;
    width: 300px;
    background-color: #fff;
    z-index: 1;
    height: 200px;
    padding: 90px 0;
    border-radius: 5px;
    box-shadow: 0 10px 100px 0px rgba(46, 61, 73, 0.2);
    text-align: center; }
    #license-and-vendors div .in-love .lazy-card h4 {
      color: #242424; }
  #license-and-vendors div .in-love .layer {
    position: absolute;
    top: 10px;
    right: 0;
    background-image: linear-gradient(to right, #a951ed, #ff5483);
    width: 300px;
    color: #fff;
    z-index: -1;
    height: 200px;
    border-radius: 5px; }
#license-and-vendors div .simple-card {
  background-color: #fff;
  z-index: 1;
  height: 200px;
  padding: 90px 0;
  border-radius: 5px;
  box-shadow: 0 10px 100px 0px rgba(46, 61, 73, 0.2);
  text-align: center; }

#team div h2 {
  text-align: center;
  color: #242424;
  padding-bottom: 30px; }
#team div .meamber {
  text-align: center;
  margin-bottom: 30px; }
  #team div .meamber .img-container {
    height: 250px; }
    #team div .meamber .img-container .img-fluid {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 5px;
      width: 200px;
      height: 200px;
      margin: auto; }
  #team div .meamber h5 {
    font-weight: 600;
    margin-bottom: 0;
    font-size: 120%;
    color: #242424; }
  #team div .meamber span {
    color: #242424;
    font-size: 120%; }
  #team div .meamber:nth-child(2) div.img-container div.img-fluid {
    background-image: url("../../assets/team/betmen.jpg"); }
  #team div .meamber:nth-child(3) div.img-container div.img-fluid {
    background-image: url("../../assets/team/betmen.jpg"); }
  #team div .meamber:nth-child(4) div.img-container div.img-fluid {
    background-image: url("../../assets/team/betmen.jpg"); }
  #team div .meamber:nth-child(5) div.img-container div.img-fluid {
    background-image: url("../../assets/team/betmen.jpg"); }
  #team div .meamber:nth-child(6) div.img-container div.img-fluid {
    background-image: url("../../assets/team/betmen.jpg"); }
  #team div .meamber:nth-child(7) div.img-container div.img-fluid {
    background-image: url("../../assets/team/betmen.jpg"); }
  #team div .meamber a {
    display: none; }
    #team div .meamber a i {
      font-size: 25px;
      border: 1px solid #242424;
      border-radius: 5px;
      color: #242424;
      width: 35px;
      height: 35px;
      padding: 10px; }
      #team div .meamber a i:hover {
        color: #fff;
        background-color: #242424;
        -webkit-transition: all 0.8s ease;
        -moz-transition: all 0.8s ease;
        -o-transition: all 0.8s ease;
        -ms-transition: all 0.8s ease;
        transition: all 0.8s ease; }
  #team div .meamber:hover .img-container .img-fluid {
    width: 210px;
    height: 210px;
    opacity: 0.5;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
    transition: all 0.8s ease; }
  #team div .meamber:hover a {
    display: block;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    text-align: center; }
    #team div .meamber:hover a i {
      width: 45px;
      height: 45px; }

#join-us {
  background-image: radial-gradient(circle at bottom left, #07DD85 0%, #05B29E 50%, #025284 100%); }
  #join-us div h2 {
    text-align: center;
    color: #fff;
    padding-bottom: 30px; }
  #join-us div p {
    text-align: center; }
    #join-us div p button {
      margin-top: 30px;
      padding: 14px 38px;
      color: #05B29E;
      background-image: #fff;
      outline: none;
      user-select: none;
      border: none;
      border-radius: 5px;
      border: 2px solid #fff; }
      #join-us div p button:hover {
        color: #fff;
        background-color: #05B29E;
        -webkit-transition: all 0.8s ease;
        -moz-transition: all 0.8s ease;
        -o-transition: all 0.8s ease;
        -ms-transition: all 0.8s ease;
        transition: all 0.8s ease; }

#newsletter {
  background-image: radial-gradient(circle at bottom left, #07DD85 0%, #05B29E 50%, #025284 100%); }
  #newsletter div h2 {
    text-align: center;
    color: #fff;
    padding-bottom: 30px; }
  #newsletter div form {
    margin-left: auto;
    margin-right: auto;
    padding: 10px 50px; }
    #newsletter div form input {
      width: 45%;
      margin-bottom: 10px;
      padding: 10px 20px;
      color: #616d77;
      border: none;
      outline: none;
      user-select: none;
      margin-right: 4.4%;
      border-radius: 5px;
      box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
    #newsletter div form input[type="email"] {
      width: 95%;
      margin-right: 0; }
    #newsletter div form input[type="submit"] {
      margin-left: 25%;
      margin-right: 0; }
      #newsletter div form input[type="submit"]:hover {
        box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.19);
        -webkit-transition: all 0.8s ease;
        -moz-transition: all 0.8s ease;
        -o-transition: all 0.8s ease;
        -ms-transition: all 0.8s ease;
        transition: all 0.8s ease; }

/*# sourceMappingURL=index.css.map */
